<h1>Welcome to the WikiApp!</h1>
<table>
  <tr>
    <td class="main">
      <p>Share your thoughts about a topic of your choosing. Pick a topic and go to WikiWar(tm)!</p><br />
      <%= link_to "Find a Wiki!", wiki_path, :class => "wiki_button round" %>
    </td>
  </tr>
</table>