<h1>Welcome to WikiWars!</h1>
<p>Share your thoughts about a topic of your choosing. Pick a topic and go to WikiWar(tm)!</p><br />
<%= link_to "Find a Wiki", findwiki_path, :class => "wiki_button round" %>
</table>