.container {
  width: 710px;
}

body {
  background: #EAEAEA;
}

header {
  float: right;
  padding-top: 10px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
  padding-bottom: 50px;
  text-align: center;
}

section h1 {
  padding-top: 60px;

  font-size: 200%;
}

/* link */

a {
  color: #CB2B2B;
  text-decoration: none;
}

a:hover {
  color: #992B2B;
  text-decoration: underline;
}

a:visited {
  color: #992B2B;
}

/* Navigation */

nav {
  float: right;
  background: white;
  padding: 0 0.7em;
  whitespace: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  color: #CB2B2B;
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #992B2B;
}

nav ul li a:hover {
  text-decoration: underline;
}

a.wiki_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 150px;
  color: #fff;
  background: #CB2B2B;
  font-size: 150%;
  font-weight: bold;
  padding: 10px;
}

/* Round Corners */

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius; 10px;
  border-radius: 10px;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -10px;
}

/* microposts */

.microposts {
  list-style: none;
  margin: 40px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
  font-size: 70%;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* Errors */

#error_explanation {
  align-text: center;
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  align-text: center;
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  align-text: center;
  color: "333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  align-text: center;
  padding-top: 20px;
  font-size: 12px;
  list-style: square;
}

  