<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "All Articles", wikis_path %></li>
      <li><%= link_to "Find a Wiki", findwiki_path %></li>
    </ul>
  </nav>
</footer>