<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "A Random Wikipedia Article", 'http://en.wikipedia.org/wiki/Special:Random'%></li>
    </ul>
  </nav>
</footer>